:root {
  --container-padding: 20px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

body {
  padding: 0;
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
  --input-height: 30 !important;
}

ol,
ul {
  padding-left: var(--container-padding);
}

body > *,
form > * {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}

.app-cards-wrapper {
  grid-gap: 1rem;
}

.app-card {
  background: var(--vscode-list-dropBackground);
  cursor: pointer;
  min-width: 16rem;
}
.app-card:hover,
.app-card.selected {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

.app-card:hover .thumbnail,
.app-card.selected .thumbnail {
  background: #00000042;
}

.app-card img {
  height: 25px;
}

.flex-1 {
  flex: 1;
}

.error {
  line-height: 1.2rem;
}

.text-primary {
  color: var(--vscode-textLink-foreground) !important;
}

.tag {
  display: inline-block;
  border: 1px solid hsla(0, 0%, 53.3%, 0.45);
  padding: 1px 7px;
  padding-bottom: 3px;
  border-radius: 2px;
  font-size: 90%;
  margin: 0 6px 3px 0;
  cursor: pointer;
}
.tag:hover {
  background-color: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
}
